source: _source
destination: .

sass: true
haml: true

pygments: true

lsi: false # true

months:
  - January
  - February
  - March
  - April
  - May
  - June
  - July
  - August
  - September
  - October
  - November
  - December