h1
  :margin-bottom 10px

pre
  :margin 5px -120px
  :padding 10px

  code
    :background-color transparent

code
  :padding 0px 0px
  :background-color #eee
  :font-family 'Droid Sans Mono', sans-serif
  :font-size 0.88em

p
  :margin-top 0.6em
  :margin-bottom 0.6em

img.nonfloat
  :float none

a.line
  :display block
  :padding 10px
  :text-decoration none

div.year
  :font-size 1.5em
  :margin-bottom 0.5em

div.month
  :font-size 1.1em

span.calendar
  :border 1px solid black
  :padding 5px

span.categories
  :font-size 0.5em
  :color gray

div.post
  :font-family "lucida grande"

  ol
    :list-style decimal

  ul
    :list-style disc

    ul
      :margin-left 1.1em
      :list-style circle

  a
    :background-color #eee
    :padding 1px 10px 2px

    &:before
      :content '☛ '

  a.previous
    &:before
      :content '☚ '

  a:hover
    :background-color #abcdef

.twitter-share-button
  :margin-left 22%

#disqus_thread
  a:before
    :content ''

div.gist
  :font-size 0.9em

  a:before
    :content ''

div.categories
  :font-size 0.9em
  :color #777

pre.sh_sourceCode
  :background-color #efefef