@charset "UTF-8";
h1 { margin-bottom: 10px; }

pre { margin: 5px -120px; padding: 10px; }
pre code { background-color: transparent; }

code { padding: 0px 0px; background-color: #eeeeee; }

p { margin-top: 0.6em; margin-bottom: 0.6em; }

img.nonfloat { float: none; }

a.line { display: block; padding: 10px; text-decoration: none; }

div.year { font-size: 1.5em; margin-bottom: 0.5em; }

div.month { font-size: 1.1em; }

span.calendar { border: 1px solid black; padding: 5px; }

span.categories { font-size: 0.5em; color: gray; }

div.post { font-family: "lucida grande"; }
div.post ol { list-style: decimal; }
div.post ul { list-style: disc; }
div.post a { background-color: #eeeeee; padding: 1px 10px 2px; }
div.post a:before { content: "☛ "; }
div.post a.previous:before { content: "☚ "; }
div.post a:hover { background-color: #abcdef; }

#disqus_thread a:before { content: ""; }

div.gist { font-size: 0.9em; }
div.gist a:before { content: ""; }

div.categories { font-size: 0.9em; color: #777777; }

pre.sh_sourceCode { background-color: #efefef; }
