@charset "UTF-8";
h1 { margin-bottom: 10px; }

pre { margin: 5px; padding: 10px; }

ol, ul { list-style: decimal; }

a.line { display: block; padding: 10px; text-decoration: none; }

div.year { font-size: 1.5em; margin-bottom: 0.5em; }

div.month { font-size: 1.1em; }

span.calendar { border: 1px solid black; padding: 5px; }

span.categories { font-size: 0.5em; color: gray; }

div.post a { padding: 5px 10px; }
div.post a:before { content: "☛ "; }

div.gist { font-size: 0.9em; }
div.gist a:before { content: ""; }
