body {
    width: 600px;
    margin-top: 3em;
    margin-left: 3em;
}

.quote, .link {
    font-size: 1.33em;
    margin-bottom: 1em;
}

blockquote {
    border-left: 0.5em solid #f5f5f5;
    margin-left: 0em;
    padding-left: 1.5em;
    color: #555;
}

img {
    border: 0;
    max-width: 100%;
}

.post_meta {
    color: #777;
    text-align: right;
    border-top: 1px solid #ccc;
    padding-top: 0.5em;
    margin: 2em 0;
}

.permalink {
    padding-left: 0.5em;
    text-decoration: none;
}
