!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :'xml:lang' => "en", :lang => "en" }
  %head
    %meta{ :'http-equiv' => "Content-type", :content => "text/html; charset=utf-8" }
    %link{ :rel => 'stylesheet', :href => './stylesheets/basic.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => './stylesheets/specific.css', :type => 'text/css' }
    %title= page.title
  %body
    %ol.nav
      %li
        %a{ :href => 'http://floere.github.com' } home
        •
      %li
        %a{ :href => '/blog' } blog home
        •
      %li
        %a{ :href => '/../picky' } picky
        •
      %li
        %a{ :href => '/../phony' } phony
        •
      %li
        %a{ :href => '/../view_models' } view models
    %div
      %h1
        Code is Code
        %a{ :href => './atom.xml' } ☛ subscribe
      %h4 Florian Hanke
      = content