!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :'xml:lang' => "en", :lang => "en" }
  %head
    %meta{ :'http-equiv' => "Content-type", :content => "text/html; charset=utf-8" }
    %link{ :rel => 'shortcut icon', :href => './favico.ico' }
    %link{ :href => './atom.xml', :rel => "alternate", :title => "code is code", :type => "application/atom+xml" }
    %link{ :rel => 'stylesheet', :href => './stylesheets/basic.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => './stylesheets/specific.css', :type => 'text/css' }
    %title Florian Hanke – Code is Code
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20991642-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    %ol.nav
      %li
        %a{ :href => '/../' } home
        •
      %li
        %a{ :href => '/../blog/' } blog
        •
      %li
        %a{ :href => '/../picky/' } picky
        •
      %li
        %a{ :href => '/../phd/' } phd
        •
      %li
        %a{ :href => '/../phony/' } phony
        •
      %li
        %a{ :href => '/../view_models/' } view models
    %div
      %h1
        Code is Code
        %a{ :href => './atom.xml' } ☛ subscribe
      %h4 Florian Hanke
      = content